.gameovl{
    width: calc(100% - 120px);
    height: calc(100vh - 120px);
    background-image: url(/img/tlo6.png);
    background-size: cover;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
}
.question-head{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:8px;
}
#question-content{
    font-size: 3.2em;
    display: flex;
    flex-direction: column;
}
.question-container{
    display: flex;
    flex-direction: column;
    gap:44px;
    margin-top:60px;
}
#quiz-question{
    font-size:1.3em;
    font-weight: bold;
}
.answer-ovl{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap: 14px;
    width: 100%;
}
.answer-btn{
    font-size: 2.2em;
    min-width: 440px;
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    padding: 24px 0;
    background: var(--orange-main);
    border-radius: 8px;
    overflow: hidden;
}
.answer-btn:hover{
background-color: #d97861;
}
.again-btn,.close-btn{
    font-size: 1.5em;
    min-width: 300px;
    cursor: pointer;
    background: var(--orange-main);
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 50px;

}
.scoreovl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}
.score-buttons{
    margin-bottom: 50px;
    margin-top: 50px;
}
.results{
    color: var(--gray3);
}
.score{
    margin-top: 10px;
}



.game-top{
    display: none;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;  
}
.question-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #ef846a;
    background-color: #ffffffbf;
    font-weight: bold;
    margin: 40px;
}