.gameovl{
    font-size: 20px;
    width: 90vw;
    background-image: url("/img/tlo6.png");
    background-size: cover;
    margin-top: 5vh;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 90vh;

}
.question-content{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.question-container{
    margin-bottom: 20px;
}
.answer-btn{
    font-size: 2em;
    min-width: 500px;
    cursor: pointer;
    display: block;
    background: var(--orange-main);
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px;
}
.again-btn,.close-btn{
    font-size: 1.5em;
    min-width: 300px;
    cursor: pointer;
    background: var(--orange-main);
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 50px;

}
.scoreovl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
}
.score-buttons{
    margin-bottom: 50px;
    margin-top: 50px;
}
.results{
    color: var(--gray3);
}
.score{
    margin-top: 10px;
}

