<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Quizzone - Dashboard</title>
    <script>
            function load_username(username){
            const username_el = $('.mainuser-name-nick');
            if(username!==null||username!=='')username_el.html(username);
            else return false;
        }

            function setAvatar(id){
            const av = $('.mainuser-info-avatar img');
            const avs = $('.sidebar-user-avatar img');
            var img_path = '1.png';
            switch(id){
                case 1: img_path = '1.png';break;
                case 2: img_path = '2.png';break;
                case 3: img_path = '3.png';break;
                case 4: img_path = '4.png';break;
                case 5: img_path = '5.png';break;
                case 6: img_path = '6.png';break;
                default: img_path = '1.png';
            }
            av.attr('src','/img/avatars/'+img_path);
            avs.attr('src','/img/avatars/'+img_path);
            
            return true;
        }

        function load_stats(data){    
            const level = $('.stats-details-value:eq(0)'),
            count_solved = $('.stats-details-value:eq(1)'),
            count_points = $('.stats-details-value:eq(2)'),
            user_progressbar = $('.progressbar-bar-fill'),
            user_progress_text = $('.progressbar-text'),
            user_tier = $('.mainuser-name-tier'),
            widget_achievements = $('.mainuser-dashboard-widget:eq(1)')

            if(load_username(data.user.username)) console.log('ustawiono username..');
            if(data.user.level)level.html(data.user.level);
            if(data.user.solved)count_solved.html(data.user.solved);
            if(data.user.points)count_points.html(data.user.points);
            if(data.user.title && data.user.level)user_tier.html(data.user.title + ", " + data.user.level + "lvl");
            if (data.user.have && data.user.nextLevel) {
                const progressPercent = Math.round((data.user.have / data.user.nextLevel) * 100);
                user_progressbar.css({ "width": `${progressPercent}%` });
                user_progress_text.html(`${data.user.have} / ${data.user.nextLevel} XP`);
            }
            else{
                user_progressbar.css({ "width": '0%' });
            }
            if(data.user.have && data.user.nextLevel)user_progress_text.html(data.user.have + " / " + data.user.nextLevel + " XP");

            if(data.user.allAchievements && data.user.userAchievements){
                let ach_all = data.user.allAchievements,
                    ach_user = data.user.userAchievements;
                let ach_ratio = (parseFloat(ach_user)/parseFloat(ach_all))*100;

                widget_achievements.find('.widget-progressbar-bar-fill').css({'width':`${ach_ratio}%`});
                widget_achievements.find('.widget-progressbar-text').text(`${ach_user}/${ach_all}`);
            } 
            if(data.user.achievements && data.user.achievements.length>0){
                let html_content = ``;
                let achievements = data.user.achievements;

                achievements.forEach( achievement => {
                    html_content+=`
                    <div class='ach-item'>
                        <div class='ach-top'>
                            <div class='ach-ico'><i class='bx bxs-party'></i></div>
                            <div class='ach-title'>${achievement.name}</div>
                        </div>    
                        <div class='ach-bottom'>
                            <div class='ach-desc'>${achievement.description}</div>
                        </div>
                    </div>
                    `;
                });
                widget_achievements.find('.widget-cnt-inside').html(html_content);


            }



            return true;
        }   


    </script>
</head>
<body>
<div class="ovl-app">
<%- include('components/left-sidebar',{sitename: 'dashboard',username: ''}); -%>

<div class="cat-cnt">
    <div class="cat-section">
            <div class="dashboard-top">
            <div class="quizz-options-cnt">
                <div class="quizz-option-btn">1v1 Lobby</div>
                <div class="quizz-option-btn">Start Quiz</div>
            </div>    
            <div class="users-cnt">
                <div class="users-cnt-info"><div class="users-info">+3</div></div>
                <div class="users-cnt-avatars">
                    <div class="user-avatar-small"><img src="/img/avatars/1.png" alt="avatar"></div>
                    <div class="user-avatar-small"><img src="/img/avatars/2.png" alt="avatar"></div>
                    <div class="user-avatar-small"><img src="/img/avatars/3.png" alt="avatar"></div>
                </div>
            </div>
            </div>
    </div>
    <div class="cat-section">
        <div class="mainuser-info-tile">
            <div class="mainuser-info-avatar">
                <img src="/img/avatars/1.png" alt="avatar"/>
            </div>
            <div class="mainuser-info-details">
                <div class="mainuser-details-name">
                    <div class="mainuser-name-nick">Marson Z..</div>
                    <div class="mainuser-name-tier">Poczatkujacy, 1 lvl</div>
                </div>
                <div class="mainuser-details-progressbar">
                    <div class="progressbar-text">0/10XP</div>
                    <div class="progressbar-bar">
                        <div class="progressbar-bar-fill"></div>
                    </div>
                </div>
                <div class="mainuser-details-stats">
                    <div class="stats-tile">
                        <div class="stats-ico"><i class='bx bxs-flag-alt'></i></div>
                        <div class="stats-details">
                            <div class="stats-details-value">0</div>
                            <div class="stats-details-title">Poziom</div>
                        </div>
                    </div>
                    <div class="stats-tile">
                        <div class="stats-ico"><i class='bx bxs-trophy'></i></div>
                        <div class="stats-details">
                            <div class="stats-details-value">0</div>
                            <div class="stats-details-title">Rozwiązane quizy</div>
                        </div>
                    </div>
                    <div class="stats-tile">
                        <div class="stats-ico"><i class='bx bxs-check-circle' ></i></div>
                        <div class="stats-details">
                            <div class="stats-details-value">0</div>
                            <div class="stats-details-title">Punkty'</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cat-section">
        <div class="cat-section-row">


            <div class="mainuser-dashboard-widget">
                <div class="dashboard-widget-top">
                    <div class="widget-top-title">Proponowane</div>
                    <div class="widget-top-progressbar">
                        <div class="widget-progressbar-text">1/100</div>
                        <div class="widget-progressbar-bar">
                            <div class="widget-progressbar-bar-fill"></div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-widget-cnt">
                    <div class="widget-cnt-inside">
                     //LISTA QUIZZOW   
                    </div>
                    <div class="widget-cnt-footer">Wyświetl więcej</div>
                </div>
            </div>
            <div class="mainuser-dashboard-widget">
                <div class="dashboard-widget-top">
                    <div class="widget-top-title">Osiagniecia</div>
                    <div class="widget-top-progressbar">
                        <div class="widget-progressbar-text">2/10</div>
                        <div class="widget-progressbar-bar">
                            <div class="widget-progressbar-bar-fill"></div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-widget-cnt">
                    <div class="widget-cnt-inside">
                     //LISTA OSIAGNIEC  
                    </div>
                    <div class="widget-cnt-footer">Wyświetl więcej</div>
                </div>
            </div>
        </div>
    </div>



</div>

</div>

    <script>
        $('.cat-cnt').css({'display':'none'});
        if((localStorage.getItem('jwt-token')==null)||localStorage.getItem('jwt-token')==''){
            window.location.href='/login';
        }


        
        document.addEventListener('DOMContentLoaded', async function() {


            const token = localStorage.getItem('jwt-token');
            try {
                const response = await fetch('http://quizzone.zapto.org:8000/api/user', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    }
                });
                if (!response.ok) {
                    throw new Error('Failed to fetch quizzes');
                }
                
                const data = await response.json();
                localStorage.setItem('user-data',JSON.stringify(data.user));

                if(setAvatar(data.user.profilePicture))console.log('Ustawiono zdjecie profilowe');
                else console.log('nima');


                if(await load_stats(data)){
                    console.log('zaladowano statystyki konta..');
                    $('.cat-cnt').show();
                }
                else{
                    $('.cat-cnt').show();
                    console.log('nie zaladowano..');
                }




            } catch (error) {
                console.error('Error fetching quizzes:', error);
                const quizList = document.getElementById('quizList');
                quizList.innerHTML = '<li class="text-danger">Wystąpił błąd podczas pobierania quizów.</li>'; 
            }

            
        });

document.addEventListener('click',(event)=> {
    if(event.target.classList.contains('sidebar-user-logout')||event.target.classList.contains('bx-log-out')){
            localStorage.setItem('jwt-token','');
            console.log('Wylogowano..');
            window.location.href='/login';
    }
});        


$('.widget-cnt-footer').on('click',function(){
    if($(this).hasClass('active1')){
        $(this).parent('.dashboard-widget-cnt').find('.widget-cnt-inside').css({'max-height':'200px'});
        $(this).removeClass('active1');
    }
    else{
        $(this).parent('.dashboard-widget-cnt').find('.widget-cnt-inside').css({'max-height':'unset'});
        $(this).addClass('active1');
    }
});

    </script>
    
</body>
</html>