<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Quizzone - Strona Główna</title>
</head>
<body>
<div id="ovl">
    
</div>





















    
<script>
document.addEventListener('load',()=>{
if(localStorage.getItem("jwt-token") !== "" || localStorage.getItem("jwt-token") !== null){
window.location.href = "/dashboard";
}
})
</script>
</body>
</html>